@tailwind base;
@tailwind components;
@tailwind utilities;

.veox-input-sm {
  @apply w-full px-2 py-1 text-sm text-gray-500 border-2 rounded focus:outline-none focus:border-blue-400 focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50;
}

.veox-input {
  @apply w-full px-3 py-2 text-sm text-gray-500 border-2 rounded focus:outline-none focus:border-blue-400 focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50;
}

.veox-btn-sm {
  @apply justify-center px-2 py-1 text-sm font-medium text-white bg-blue-800 border border-transparent rounded hover:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50;
}

.veox-btn-flat-sm {
  @apply justify-center px-2 py-1 text-sm font-medium text-blue-800 border border-transparent rounded focus:outline-none hover:underline;
}

.veox-btn {
  @apply justify-center px-3 py-2 text-sm font-medium text-white bg-blue-800 border border-transparent rounded hover:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50;
}

.veox-label {
  @apply block text-sm font-semibold text-gray-500;
}

.veox-title {
  @apply block my-4 text-xl font-semibold text-gray-900;
}
